html,body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:100%;
}
 
.table-header {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #000000;
	padding:10px;
	color: #FFFFFF;
}
 
.table-odd-row {
	border-top:1px solid gray;
	background:none repeat scroll 0 0 #FFFFFFF;
	text-align:center;
}
 
.table-even-row {
	border-top:1px solid gray;
	background:none repeat scroll 0 0 ;
	text-align:center;
}

#wrapper {width: 100%; margin-top: 0px; }
#header {width: 100%; background: #000000; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; background: #000000; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container form#add input { background: #D0D0D0; border: 1px solid #666; border-radius: 5px; color: #fff; padding: 8px; font-size: 16px;}
#container form#find {margin-top:30px;}
#container form#find label {font-size: 13px; color: #000; float:left; margin-right: 20px;}
#container form#find input {border: 1px solid #ccc; border-radius: 3px; padding: 5px 10px; width: 100%;}
#container #content {margin-top: 20px;}

.add-student-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}

.header img {
  float: left;
  width: 50px;
  height: 50px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  background: #555
}


