<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Update User</title>
		<style>
		.error{color:red}
		</style>
	
	<h:outputStylesheet library="css" name="style.css"  />
	<h:outputStylesheet library="css" name="add-user-style.css"  />
	
</h:head>

<h:body>

	<div id="wrapper">
		<div id="header">
			<h2>Edit Panel</h2>
		</div>
	</div>
	
	<div id="container">
		<h3>Edit Panel</h3>
		
		<h:messages globalOnly="true" />
		
		<h:form id="form" style="margin-top: 10px;" >
			<h:panelGrid columns="3">
					
				<h:outputLabel>Panel name:</h:outputLabel> 
				<h:inputTextarea row = "15" value="#{presenter.name}" id="name"
				validatorMessage="Panel must not be blank">
				<f:validateRegex pattern="(^\s*\S+.*)" />
				</h:inputTextarea>		
				<h:message for="name" styleClass="error" />
				
	
				<h:outputLabel>description:</h:outputLabel>
				<h:inputTextarea row = "15" value="#{presenter.bio}" id="bio"
				validatorMessage="Description must not be blank.">
				<f:validateRegex pattern="(^\s*\S+.*)" />
				</h:inputTextarea>
				<h:message for="bio" styleClass="error" />
				
				<h:outputLabel>Picture:</h:outputLabel>
				<img src="data:image/png;base64, #{presenter.imageString}"/>
				<h:message for="" styleClass="error"/>
				<h:commandButton value="Change Picture" styleClass="save" action="updatePicture"/>
				
		
				<h:inputHidden value="#{presenter.id}" />
				<h:commandButton value="Save" styleClass="save" action="#{controller.updatePresenter(presenter)}"/>
			
		</h:panelGrid>
		</h:form>
		
		
		<div style="clear: both;"></div>
		
		<form>
		<p><h:outputLink value="presenters_list.xhtml">Back to List</h:outputLink></p>
		</form>

	</div>	
</h:body>
</html>