<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
  <f:event type="preRenderView" listener="#{controller.loadPresenters()}"/>
</f:metadata>

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Main Schedule</title>
	
	<h:outputStylesheet library="css" name="style.css"  />
	
</h:head>

<h:body>

	<div id="wrapper">
		<div id="header">
			<h2>Presenters List</h2>
		</div>
	</div>

	<div id="container">

		<div id="content">
		
			<h:messages globalOnly="true" />
		
			<h:button value="Add Presenter" styleClass="add-student-button" outcome="add_presenter"/>			
			<h:form>
		
				<h:outputLabel>Search Panels:</h:outputLabel> 
				<h:inputText value="#{controller.theSearchNamePresenters}" id="theSearchNamePresenters" />
				<h:commandButton value="Search" action="presenters_list?faces-redirect=true" styleClass="add-student-button" />            
            
            </h:form>
			<h:form>
						
			<h:dataTable value="#{controller.presenters}" var="tempPresenter"
				styleClass="demo-table" 
				headerClass="demo-table-header"
				rowClasses="demo-table-odd-row,demo-table-even-row">

				<h:column>
					<!-- the column header -->
					<f:facet name="header">Presenter Name</f:facet>

					<!--  the value for each row -->
					#{tempPresenter.name}
				</h:column>

							
				<h:column>
					<f:facet name="header">Bio</f:facet>

					<!--  the value for each row -->
					#{tempPresenter.bio}
				</h:column>


				<!-- /////////////////// UPDATE COLUMN /////////////////// -->	
			<h:column>
					
					<f:facet name="header">Action</f:facet>
					
										
					<h:commandLink value="Update" action="#{controller.loadPresenter(tempPresenter.id)}"/>
					|
					<h:commandLink value="Delete"
						onclick="if (!confirm('You must have deleted all panels associated with this presenter First. Are you sure you want to delete this presenter?')) return false"
						action="#{controller.deletePresenter(tempPresenter.id)}"/>
					
					
				</h:column>
				<!-- //////////////////////////////////////////////////// -->
				
			</h:dataTable>

			</h:form>

		</div>
		
	</div>

</h:body>
</html>