<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
  <f:event type="preRenderView" listener="#{controller.loadPanels()}"/>
</f:metadata>

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Main Schedule</title>
	
	<h:outputStylesheet library="css" name="style.css"  />
	
</h:head>

<h:body>

	<div id="wrapper">
		<div id="header">
			<h2>Main Schedule</h2>
		</div>
	</div>

	<div id="container">

		<div id="content">
		
			<h:messages globalOnly="true" />
		
			<h:button value="Add Panel" styleClass="add-student-button" outcome="add_panel"/>			
			<h:form>
		
				<h:outputLabel>Search Panels:</h:outputLabel> 
				<h:inputText value="#{controller.theSearchName}" id="theSearchName" />
				<h:commandButton value="Search" action="schedule?faces-redirect=true" styleClass="add-student-button" />            
            
            </h:form>
			<h:form>
						
			<h:dataTable value="#{controller.panels}" var="tempPanel"
				styleClass="demo-table" 
				headerClass="demo-table-header"
				rowClasses="demo-table-odd-row,demo-table-even-row">

				<h:column>
					<!-- the column header -->
					<f:facet name="header">Panel Title</f:facet>

					<!--  the value for each row -->
					#{tempPanel.name}
				</h:column>

			<h:column>
					<f:facet name="header">presenter</f:facet>
					#{tempPanel.presenter.name}
				</h:column> 
				
				<h:column>
					<f:facet name="header">Description</f:facet>

					<!--  the value for each row -->
					#{tempPanel.description}
				</h:column>
					<h:column>
										<f:facet name="header">Room</f:facet>
					#{tempPanel.room.description}
				</h:column> 

					<h:column>
					<!-- the column header -->
					<f:facet name="header">Time</f:facet>

					<!--  the value for each row -->
					#{tempPanel.dateStr}
				</h:column>
				<h:column>
					<!-- the column header -->
					<f:facet name="header">Rating</f:facet>

					<!--  the value for each row -->
					#{tempPanel.panelRating}
				</h:column>


				<!-- /////////////////// UPDATE COLUMN /////////////////// -->	
			<h:column>
					
					<f:facet name="header">Action</f:facet>
					
										
					<h:commandLink value="Update" action="#{controller.loadPanel(tempPanel.id)}"/>
					|
					<h:commandLink value="Delete"
						onclick="if (!confirm('Are you sure you want to delete this panel?')) return false"
						action="#{controller.deletePanel(tempPanel.id)}"/>
					
					
				</h:column>
				<!-- //////////////////////////////////////////////////// -->
				
			</h:dataTable>

			</h:form>

		</div>
		
	</div>

</h:body>
</html>