<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Update User</title>
		<style>
		.error{color:red}
		</style>
	
	<h:outputStylesheet library="css" name="style.css"  />
	<h:outputStylesheet library="css" name="add-user-style.css"  />
	
</h:head>

<h:body>

	<div id="wrapper">
		<div id="header">
			<h2>Picture</h2>
		</div>
	</div>
	
	<div id="container">
		<h3>Edit Panel</h3>
		
		<h:messages globalOnly="true" />
		
		<h:form id="form" enctype="multipart/form-data" style="margin-top: 10px;" >
			
				<h:inputFile id="uploader" value="#{presenter.file}" validator="#{presenter.validate}"/>
				<h:commandButton value="Upload" action="#{presenter.upload}"/>
				<h:message for="uploader" styleClass="error" />
				
					
				<h:inputHidden value="#{presenter.id}" />
			
		
		</h:form> 
		
		
		<div style="clear: both;"></div>
		
		<form>
		<p><h:outputLink value="presenters_list.xhtml">Back to List</h:outputLink></p>
		</form>

	</div>	
</h:body>
</html>