<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

	<title>Update User</title>
		<style>
		.error{color:red}
		</style>
	
	<h:outputStylesheet library="css" name="style.css"  />
	<h:outputStylesheet library="css" name="add-user-style.css"  />
	<h:outputStylesheet library="css" name="top-nav.css"/>
	
</h:head>

<h:body>
<div class="topnav" id="myTopnav">
  <a href="schedule.xhtml" >Schedule</a>
  <a href="presenters_list.xhtml">Presenters</a>
  <a href="add_panel.xhtml" class="active">Add panel</a>
  <a href="add_presenter.xhtml">Add Presenter</a>
  <a style="float:right" href="logout.xhtml">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

	<div id="wrapper">
		<div id="header">
			<h2>Edit Panel</h2>
		</div>
	</div>
	
	<div id="container">
		<h3>Edit Panel</h3>
		
		<h:messages globalOnly="true" />
		
		<h:form id="form" style="margin-top: 10px;" >
			<h:panelGrid columns="3">
					
				<h:outputLabel>Panel name:</h:outputLabel> 
				<h:inputTextarea row = "15" value="#{panel.name}" id="name"
				validatorMessage="Panel must not be blank">
				<f:validateRegex pattern="(^\s*\S+.*)" />
				</h:inputTextarea>		
				<h:message for="name" styleClass="error" />
				
	
				<h:outputLabel>description:</h:outputLabel>
				<h:inputTextarea row = "15" value="#{panel.description}" id="description"
				validatorMessage="Description must not be blank.">
				<f:validateRegex pattern="(^\s*\S+.*)" />
				</h:inputTextarea>
				<h:message for="description" styleClass="error" />
				
				
 				<h:outputLabel>Date and Time: </h:outputLabel>
				<h:inputText value="#{panel.dateStr}"
				id="date"
				validatorMessage="date must be in yyyy-MM-dd HH:mm format">
				<f:validateRegex pattern="[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) (2[0-3]|[01][0-9]):[0-5][0-9]" />
				</h:inputText>
				<h:message for="date" styleClass="error" /> 
			
	
		
		<h:outputLabel>Presenter: </h:outputLabel>
		<h:selectOneMenu value="#{panel.presenterIdStr}"> 
		<f:selectItems value="#{panel.presentersOptions}" />
		</h:selectOneMenu>
		<br></br>
		<h:outputLabel>Room: </h:outputLabel>
			<h:selectOneMenu value="#{panel.roomIdStr}"> 
			<f:selectItems value="#{panel.roomsOptions}" />
		</h:selectOneMenu>  
		
		
				<h:inputHidden value="#{panel.id}" />
				<h:commandButton value="Save" styleClass="save" action="#{controller.addPanel(panel)}"/>
			
		</h:panelGrid>
		
		
		</h:form>

		<div style="clear: both;"></div>
		<form>
		<p><h:outputLink value="schedule.xhtml">Back to List</h:outputLink></p>
		</form>

	</div>	
</h:body>
</html>