
<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Facelet Title</title>
</h:head>
<h:body>
	<h:form>
		<p>Welcome #{login.user}</p>
		<h:commandLink value="Schedule" action="schedule" />
		<br></br>
		<h:commandLink value="Presenters" action="presenters_list" />
		<br></br>
		<h:commandLink value="Add Panel" action="add_panel"/>
		<br></br>
		<h:commandLink value="Add Presenter" action="add_presenter"/>
		<br></br>
		<h:commandLink action="#{login.logout}" value="Logout"></h:commandLink>
	</h:form>
</h:body>
</html>
